<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-wrap">
    <!-- Left -->
    <section class="bg-black w-6/12 h-full">
        <img src="./resources/img/perpustakaan.jpg" alt="" srcset="">
    </section>
    <!-- Right -->
    <section class="bg-white w-6/12 h-full">
        SDSADASD
    </section>
</body>
</html>
